.wrapper {
    flex: 1;
    
}
.lable {
    margin: 10px 0 20px ;
    font-size: 2.2rem;
    position: relative;
    color: var(--primary);
    font-weight: 600;
    &::after {
        content: '';
        display: block;
        height: 1.5px;
        width: 50%; 
        background-color: var(--primary);
        position: absolute;
        bottom: 0;
        left: 25%;
        
    }
}
.form-create {
    padding:  20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f4f5f7;
}
.form-submit {
    width: 50%;
}
.form-lable {
    font-size: 1.6rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.form-input {
    padding: 10px 0;
    display: flex;
}
.form-input input, .form-input textarea {
    flex: 1;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid black;
    &:focus-within {
        border: 1px solid var(--primary);
        transition: all linear .3s;
    }
}
.form-upload {
    flex: 1;
    
}
.radio>label>span>input {
    border: 1px solid black;
}
.form-select{
    width: 70%;
    border: 1px solid black;
    border-radius: 7px;
    &:focus-within {
        border: 1px solid var(--primary);
        transition: all linear .3s;
    }
}
.require {
    color: red;
}
.form-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.form-img {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 50%;
    }
    img {
        width: 100px;
        max-width: 100px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        min-width: 100px;
    
    }
}