/* footer */
.footer {
    background-color: #102d4c;
    display: flex;
    padding: 20px 50px;
    align-self: center;
}
.footer-text {
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    color: white;
    
}
.footer-social {
    color: white;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-content span i {
    padding-right: 10px;
}
.footer-socail {
    text-align: center;
    flex: 1;
}
.socaial-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.socaial-item img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
}
.footer-infor {
    display: flex;
    margin-top: 8px;
   
}
.footer-icon {
    margin-right: 5px;
}

@media (max-width: 990px) {
    .footer-content{
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-infor {
        text-align: center;
    }
}