.wrapper {
    padding: 20px;
    background-color: #f4f5f7;
    height: 100vh;
}
.lable {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.table {
    box-shadow: 2px 2px 7px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.button {
    margin-right: 10px;
    color: white !important;
}
.td-table {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; 
    
}
.box {
    display: flex;
    
    align-items: center;
    margin-bottom: 20px;
}
.search {
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #e9edf4;
    background: #ffffff;
    height: 40px;
    margin-left: 20px;
    overflow: hidden;
    background-color: rgba(22, 24, 35, 0.06);
    padding: 0 0 0 12px;
    input:not(:placeholder-shown)~ .search-button {
            color: var(--primary);
    }
    &:hover, &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.input {
    height: 100%;
    font-size: 1.6rem;
    flex: 1 1;
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    caret-color: var(--primary);
}
.search-button {
    position: relative;
    height: 100%;
    background-color: transparent;
    width: 38px;
    font-size: 1.6rem;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.34);
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 20px;
        right: 38px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }

}